/* § General */
*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   background-color: aliceblue;
   height: 100%;
   font-size: 16px;
}

body {
   width: auto;
   height: inherit;
   margin: 0 100px 0 400px;
}

code {
   background-color: lightgray;
   border-radius: 3px;
   padding: 3px;
   margin: 0 2px;
}

/* § Navigator */
#navigator {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 300px;
   height: 100%;
   background-color: linen;
   border-right: 3px double gray;
   overflow: auto;
}

#navigator > h2 {
   text-align: center;
}

#navigator > hr {
   border-top: 1px solid gray;
   border-bottom: 1px solid white;
   text-align: center;
   height: 2px;
   margin: 8px 0;
}

/* nav-misc, -intro */
#navigator > ul,
#navigator > ol {
   padding: 0 40px 0 40px;
}

#navigator > ol {
   margin-bottom: 8px;
}

/* nav-misc */
#navigator > ul#nav-misc {
   list-style-type: "* ";
   padding-left: 25px;
}

#navigator > ul > li:not(:last-child) {
   margin-bottom: 5px;
}

/* nav-sub */
/* note: this element can be placed in nav-intro or nav-main. */
#nav-sub {
   padding-top: 5px;
   word-break: break-word;
}

/* nav-intro */
#navigator > ol#nav-intro {
   list-style-type: upper-roman;
}

#navigator > ol#nav-intro > li:not(:last-child) {
   margin-bottom: 5px;
}

/* nav-sub in nav-intro */
#navigator > ol#nav-intro > li > ol#nav-sub {
   list-style-type: decimal;
   padding-left: 20px;
}

#navigator > ol#nav-intro > li > ol#nav-sub > li:not(:last-child) {
   margin-bottom: 5px;
}

/* nav-main */
#navigator > div#nav-main {
   padding: 0 20px 0 20px;
}

#navigator > div#nav-main > div.main-list-item {
   width: 100%;
}

#navigator > div#nav-main > div.main-list-item:not(:last-child) {
   margin-bottom: 3px;
   padding-bottom: 2px;
}

#navigator > div#nav-main > div.main-list-item > p {
   margin-top: 0;
   margin-bottom: 0;
}

/* first p elem: numbering */
#navigator > div#nav-main > div.main-list-item > p:nth-child(1) {
   display: inline-block;
   text-align: end;
   max-width: 60px;
   vertical-align: top;
}

/* second p elem: title */
#navigator > div#nav-main > div.main-list-item > p:nth-child(2) {
   display: inline-block;
   width: calc(100% - 60px);
   padding-left: 4px;
}

/* nav-sub in nav-main */
#navigator > div#nav-main > div.main-list-item > div#nav-sub {
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
}

#navigator > div#nav-main > div.main-list-item > div#nav-sub > div {
   width: 100%;
}

#navigator > div#nav-main > div.main-list-item > div#nav-sub > div:not(:last-child) {
   margin-bottom: 3px;
   padding-bottom: 2px;
}

#navigator > div#nav-main > div.main-list-item > div#nav-sub > div > p {
   margin-top: 0;
   margin-bottom: 0;
}

#navigator > div#nav-main > div.main-list-item > div#nav-sub > div > p:nth-child(1) {
   display: inline-block;
   text-align: end;
   max-width: 60px;
   vertical-align: top;
}

#navigator > div#nav-main > div.main-list-item > div#nav-sub > div > p:nth-child(2) {
   display: inline-block;
   width: calc(100% - 60px);
   padding-left: 4px;
}

#navigator > #book-info {
   text-align: center;
   padding: 0 20px;
   margin-top: 10px;
}

#navigator > #book-info > #book-title {
   font-size: 1.25rem;
   font-weight: bold;
}

#navigator > #book-info > #book-title > #n1,
#navigator > #book-info > #book-title > #n3 {
   color: rgb(215, 120, 42);
}

#navigator > #book-info > #book-title > #n2 {
   color: rgb(56, 122, 163);
}

#navigator > #book-info > #book-subtitle {
   font-weight: bold;
   margin: 4px 0 8px 0;
}

#navigator > #book-info > #author,
#navigator > #book-info > #translator {
   font-size: 0.75rem;
   margin-top: 4px;
   text-align: right;
}

#navigator > #memo {
   width: 260px;
   padding: 20px;
   margin: 32px auto 32px auto;
   background-color: lemonchiffon;
   border: 1px solid burlywood;
}

#navigator > #img-source {
   word-break: break-all;
}

/* § Contents */
article {
   padding: 50px 0px;
}

div.plain-text,
div.code-block {
   margin: 0 auto 20px auto;
}

div.plain-text {
   width: 100%;
   display: flex;
   justify-content: center;
}

div.plain-text > div.partition {
   border-left: 1px dashed gray;
}

div.code-block {
   width: 96%;
   background-color: honeydew;
   border: 1px solid gray;
}

div.plain-text > h1,
div.plain-text > h2,
div.plain-text > p {
   min-width: 0;
   width: 50%;
   margin: 0 20px;
   word-break: break-word;
   text-align: justify;
}

div.plain-text > h1 {
   font-size: 2rem;
}

div.plain-text > p {
   line-height: 1.375rem;
}

div.code-block > pre {
   width: 100%;
   overflow-x: auto;
   margin: 0;
   padding: 10px;
}